<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @client_location.description %>
</p>

<p>
  <strong>Client:</strong>
  <%= @client_location.client_id %>
</p>

<%= link_to 'Edit', edit_client_location_path(@client_location) %> |
<%= link_to 'Back', client_locations_path %>
